
@media screen and (max-width: 768px) {
    .container , body {
        width: 768px;
    }
}


@media screen and (max-width: 480px) {
    .container , body{
        width: 480px;
      }
      .row{
        flex-direction: column;
        align-items: center;
      }
}
